.confirmPolitics {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.confirmPolitics input {
  width: 15px;
  height: 20px;
  cursor: pointer;
}

.confirmPolitics label {
  flex-basis: 96%;
  width: 100%;
}
